@import "~src/scss/vars";
@import "~src/scss/typo";

:host {
    grid-column: full-start / full-end;
    grid-row: navbar-start / navbar-end;
    position: sticky;
    top: 0;
    right: 0;
    // height: 6vh;
    // min-height: 2vw;
    // width: 100vw;
    background-color: $color-3;
    opacity: .93;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.logo-container {
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.primary-heading {
    color: $color-4;
    text-transform: uppercase;
    font-size: 3rem;
}

