@import "~src/scss/vars";
@import "~src/scss/typo";
@import "../scss/buttons";

:host {
    display: grid;
    grid-template-rows: [navbar-start] minmax(min-content, 3vw) [navbar-end content-start] max-content;
    grid-template-columns: [full-start] 1fr [full-end];
    min-width: 100vw;
    min-height: 100vh;
    background-color: $color-secondary-light;
    padding: 0 10rem;
    // overflow: hidden;

    @media only screen and (max-width: 56.25em),
    only screen and (hover: none) {
        padding: 0 0 5vh 0;
    }
}



