$color-primary-dark:  #214958;
$color-primary-light:  #476571;
$color-secondary-dark:  #d8c7be;
$color-secondary-light:  #e8dcd6;
$color-grey-dark:  #414141;
$color-grey-light: #d4d4d4;
$color-black: #000000;
$color-white: #ffffff;
$color-green: #55c57a;
$color-green-light: #7ed56f;
$color-green-dark: #28b485;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

$default-font-size: 1.6rem;
