body {
    --color-blue: rgb(57, 176, 255);
    --color-black-light:  rgb(44, 44, 44);
    --color-black:  rgb(22, 22, 22);
    --color-grey:  rgb(230, 230, 230);
    --color-white:  rgb(255, 255, 255);

}