@import "~src/scss/vars";
@import "~src/scss/typo";
@import "~src/scss/buttons";
@import "./card";

:host {
    
    display: grid;
    grid-template-columns: [full-start] minmax(5rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(5rem, 1fr) [full-end];
    grid-template-rows: [header-start] 85vh [header-end mw-start] minmax(100vh, min-content) [mw-end map-start] minmax(100vh, min-content) [map-end] minmax(100vh, min-content)
}

.secondary-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
}

.header {
    grid-column: full-start / full-end;
    background-image: linear-gradient( to right, rgba($color-primary-dark, .88),  rgba($color-primary-dark, .88) ), url(../../assets/img/head1.jpeg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.most-wanted {

    margin-top: -15vh;
    grid-column: full-start / full-end;
    // background-color: rgba($color-secondary-light, .98);
    padding: 20vh 0 5rem 0 ;
    display: grid;
    grid-template-columns: 1fr repeat(3, minmax(0em, 40rem)) 1fr;
    grid-template-rows: 20vh 80vh;
    gap: 2rem;
    align-content: start;
    justify-content: start;
    background-color: $color-white;
    overflow: hidden;

    // box-shadow: -1rem -1rem 24px black;
    &__title {
        grid-column: 1 / -1;
        background-image: linear-gradient(to right, $color-primary-dark, lighten($color-primary-light, 50%) );


        // @include respond(tab-port) {
        //     font-size: 3rem;
        // }

        // @include respond(phone) {
        //     font-size: 2.5rem;
        // }

        // &:hover {
        //     transform: skewY(2deg) skewX(15deg) scale(1.1);
        //     text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
        // }
    }
    @media only screen and (max-width: 56.25em),
            only screen and (hover: none) {
                grid-template-columns: .2fr 1fr .2fr;
                grid-template-rows: 10vh repeat(3, max-content) ;

    }
}
.map {
    overflow:hidden;
    height:100%;
    width:100%; 
    grid-column: 1 / -1;
    background-color: $color-primary-dark;
    clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15vh;
    padding-bottom: 5rem;
    margin-top: -15vh;
    &__title {
        flex: .15;
        background-image: linear-gradient(to right, $color-secondary-dark, lighten($color-secondary-light, 50%) );

    }
    &__container {
        flex: .85;
        overflow: hidden;
        width: 90%
    }
    &__iframe {
        max-width: 90%;
        height: 90%;

    }
}



