<header class="header" id="naslovna">

</header>

<!-- MOST WANTED -->

<div class="most-wanted">
    <h2 class="most-wanted__title secondary-title" id="usluge">Najtraženije Usluge</h2>
    <div class="card card--1">
        <div class="card__side card__side--front">
             <div class="card__picture card__picture--1">
                 &nbsp;
             </div>
             <h4 class="card__heading">
                 <span class="card__heading-span card__heading-span--1">Instalacija operativnog sistema</span>
             </h4>
             <div class="card__details">
                 <ul>
                     <li>Windows 7 | 8.1 | 10</li>
                     <li>Office 2007 - 2016</li>
                     <li>Drajveri</li>
                     <li>PDF reader</li>
                     <li>Antivirus</li>
                     <li>Chrome | Firefox</li>
                     <li>Ostali osnovni programi</li>
                 </ul>
             </div>
        </div>
        <div class="card__side card__side--back card__side--back-1">
             <div class="card__cta">
                 <div class="card__price-box">
                     <p class="card__price-only">Dolazak uračunat</p>
                     <p class="card__price-value">2500rsd</p>
                 </div>
                 <a href="#popup" class="btn btn--white">{{isMobile ? 'POZOVITE!' : 'ZAKAŽITE'}}</a>
             </div>
         </div>
    </div>
    <div class="card card--2">
        <div class="card__side card__side--front">
             <div class="card__picture card__picture--2">
                 &nbsp;
             </div>
             <h4 class="card__heading">
                 <span class="card__heading-span card__heading-span--1">Čišćenje računara</span>
             </h4>
             <div class="card__details">
                 <ul>
                     <li>otvaranje</li>
                     <li>čišćenje od prašine</li>
                     <li>zamena termalne paste</li>
                     <li>podmazivanje ventilatora</li>
                 </ul>
             </div>
        </div>
        <div class="card__side card__side--back card__side--back-1">
             <div class="card__cta">
                 <div class="card__price-box">
                     <p class="card__price-only">dolazak uračunat</p>
                     <p class="card__price-value">2500rsd</p>
                 </div>
                 <a href="#popup" class="btn btn--white">{{isMobile ? 'POZOVITE!' : 'ZAKAŽITE'}}</a>
             </div>
         </div>
    </div>
    <div class="card card--3">
        <div class="card__side card__side--front">
             <div class="card__picture card__picture--3">
                 &nbsp;
             </div>
             <h4 class="card__heading">
                 <span class="card__heading-span card__heading-span--1">Instalacija Profesionalnih  programa</span>
             </h4>
             <div class="card__details">
                 <ul>
                     <li>Adobe Photoshop</li>
                     <li>Autocad</li>
                     <li>3ds max</li>
                     <li>corel draw</li>
                     <li>i drugi po želji</li>
                 </ul>
             </div>
        </div>
        <div class="card__side card__side--back card__side--back-1">
             <div class="card__cta">
                 <div class="card__price-box">
                     <p class="card__price-only">dolazak uračunat</p>
                     <p class="card__price-value">1500rsd</p>
                 </div>
                 <a href="#popup" class="btn btn--white">{{isMobile ? 'POZOVITE!' : 'ZAKAŽITE'}}</a>
             </div>
         </div>
    </div>
</div>


<section class="map">
    <h2 class="map__title secondary-title" id="mapa">Mapa Pokrivenosti</h2>
    <div class="map__container">
        <div #gmap class="map__gmap" style="width:100%;height:100%"></div>   
     </div>
</section>

